.lista{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    padding: 1rem;
}
.tl{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: 900;
}
.li{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.4rem;
}
